<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ asset('bundles/webservice/css/bootstrap.css') }}"
          rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/webservice/css/docs.css') }}"
          rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ asset('bundles/webservice/img/favicon.png') }}" />
    <title>{{'page.titleNoService'|trans}}</title>
    <script src="{{ asset('bundles/webservice/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/webservice/js/bootstrap.js') }}"></script>
</head>
<body>
    <div class="jumbotron">{{'message.noservice'|trans}}</div>                          
</body>


